.carouselContainer {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.carouselTrack {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 200%;
  height: 100%;
  overflow-x: scroll;

  animation: slide 30s linear infinite;
}

.carouselTrack:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* @keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.carouselItem {
  display: flex !important;
  flex-direction: row;
  column-gap: 2rem !important;
  position: relative;
  align-items: center;
  /* width: 50%; */
  height: 100%;
}


/* Mobile Carousel Css */
.contentStyle {
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background-color: #364d79;
}
