@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 

*/

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
}

.n-btn {
  display: block;
  border: 0.5px solid #0034b9;
  border-radius: 0.45rem;
  color: black;
  font-weight: 500;
  padding-inline: 1.5rem;
  padding-block: 0.4rem;
}

.btn {
  display: block;
  border: 0.5px solid black;
  border-radius: 0.45rem;
  /* color: black; */
  font-weight: 500;
  padding-inline: 1.5rem;
  padding-block: 0.4rem;
}

.n-btn:hover {
  background-color: #1d4771;
  color: white;
}

/* 1D4771 */

.a-btn {
  background-color: #1d4771;
  display: block;
  border-radius: 0.45rem;
  color: white;
  font-weight: 500;
  padding-inline: 1.5rem;
  padding-block: 0.4rem;
}

.text-normal {
  font-size: 0.8rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.accordion {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.accordion_item {
  border: 1px solid #9f9f9f;
  /* margin-bottom: 0.8rem; */
}

.button {
  font-size: 16px;
  background-color: white;
  color: black;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #f7f7f7;
  padding: 20px;
}

/* activate toggle */
.accordion_item.active .button {
  background-color: #1d4771;
  color: white;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}



.ant-picker .ant-picker-input span.ant-picker-suffix {
  margin-left: 1px;
  margin-right: 10px;
  order: -1;
}

.mb--0 {
  margin-bottom: 1rem !important;
}

.btnBg {
  background-color: #1d4771 !important;
  color: white !important;
}

.btnBgRed {
  background-color: white !important;
  color: red !important;
}
.btnBgDark {
  background-color: rgb(32, 31, 31) !important;
  color: red !important;
}

/* .textContent{
  position: absolute;
  left: 1rem;
  color: #141414 !important;
  background-color: #dcdedf;
  bottom: 0;
} */

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-top
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-bottom
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-top
  > div
  > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs-bottom
  > div
  > .ant-tabs-nav::before {
  border-bottom: 0px solid #f0f0f0 !important;
  content: "";
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin: 0 0 0 100px !important;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-wrap {
  justify-content: center;
}

@media (max-width: 800px) {
  :where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs
    > .ant-tabs-nav
    .ant-tabs-nav-wrap {
    justify-content: start;
  }
}

/* .ant-tabs-tab-active {
  border-bottom: 1px solid red !important;
} */

/* .ant-tabs-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ant-tabs-tab {
  width: 50%;
  justify-content: center;
} */

/* Dashboard css */
.nameIcon {
  background-color: #b3b3b3;
  display: flex;
  width: 2rem;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
}



.activeOr{
  background-color: #2d5b88;
  color: white;
}
